img {
  width: 700px;
  height: auto;
  margin: 0 auto;
  border: 2px solid #000;
}

.text-container {
  width: 700px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  font-family: Arial, sans-serif;
  font-size: 18px;
  line-height: 1.8;
}

.play-button {
  margin-top: 10px;
  font-size: 18px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.play-button:hover {
  background-color: #0056b3;
}
#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px 17px;
  border-radius: 50%;
  font-size: 18px;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s;
}

#scrollToTopBtn:hover {
  background-color: #0056b3;
}

@media (max-width: 992px) {
  #scrollToTopBtn {
    padding: 10px 15px;
    font-size: 14px;
  }
  img {
    width: 400px;
  }
  .text-container {
    width: 100%;
    transform: scale(0.8);
  }
}
